* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: white;
}

:root {
    --c1: #200878;
    --c2: #100848;
    --c3: #180828;
    --c4: #7A2BAA;
    --c5: #A36CE0;
}

.main-container {
    width: 100%;
    padding-bottom: 5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-gap: 1vh;
}

.spons-cont {
    width: 100%;
    text-align: center;
}

.h2 {
    font-size: 4vh;
    font-weight: 700;
    letter-spacing: 1.5px;
    /* color: var(--c5); */
}

.h3 {
    font-size: 2.5vh;
    font-weight: 400;
    letter-spacing: 1px;
    /* color: var(--c5); */
    margin: 2vh 0 0 0;
}

.sponsor-card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0.1px var(--c3);
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.sponsor-card img {
    /* width: 100%; */
    /* width: 20rem; */
    max-height: parent;
    /* object-fit: cover; */
}

@media only screen and (max-width: 600px) {
    .t1 {
        grid-column: 1/25;
        grid-row: 1/2;
    }
    .title-spons {
        background-image: var(--title-sponsor);
        grid-column: 1/23;
        aspect-ratio: 5/2;
        grid-row: 2/3;
        /* height: 20vh; */
    }
    .pb1 {
        grid-column: 1/25;
        grid-row: 3/4;
    }
    .pb-spons-1 {
        grid-column: 3/23;
        grid-row: 4/5;
        aspect-ratio: 5/2;
    }
    .pb2 {
        grid-column: 1/25;
        grid-row: 5/6;
        display: none;
    }
    /* cpb */
    .cpb {
        margin: 1rem 0;
    }
    .cpb1 {
        grid-column: 1/25;
        /* grid-row: 4/5; */
        grid-row: 5/6;
    }
    .cpb2 {
        grid-column: 1/25;
        grid-row: 5/6;
        display: none;
    }
    /* end cpb */
    .pb-spons-2 {
        grid-column: 3/23;
        grid-row: 6/7;
        aspect-ratio: 5/2;
    }
    /* .cpb {
        grid-column: 1/25;
        grid-row: 7/8;
    } */
    .cpb-spons {
        grid-column: 3/23;
        grid-row: 8/9;
        aspect-ratio: 5/2;
    }
    .aws {
        margin: 5vh 0 0 0;
        grid-column: 1/25;
        grid-row: 9/10;
    }
    .ep {
        grid-column: 1/13;
        grid-row: 10/11;
    }
    .eps,
    .sps,
    .cps,
    .cnps,
    .tps,
    .codeps,
    .kps,
    .mps,
    .current_mps {
        aspect-ratio: 2/1;
    }
    .eps {
        grid-column: 2/12;
        grid-row: 11/12;
    }
    .sp {
        grid-column: 13/25;
        grid-row: 10/11;
    }
    .sps {
        grid-column: 14/24;
        grid-row: 11/12;
    }
    .cp {
        grid-column: 1/13;
        grid-row: 12/13;
    }
    .cps {
        grid-column: 2/12;
        grid-row: 13/14;
    }
    .cnp {
        grid-column: 13/25;
        grid-row: 12/13;
    }
    .cnps {
        grid-column: 14/24;
        grid-row: 13/14;
    }
    .tp {
        grid-column: 1/13;
        grid-row: 14/15;
    }
    .tps {
        grid-column: 2/12;
        grid-row: 15/16;
    }
    .codep {
        grid-column: 13/25;
        grid-row: 14/15;
    }
    .codeps {
        grid-column: 14/24;
        grid-row: 15/16;
    }
    .current_mp {
        grid-column: 1/25;
        grid-row: 16/17;
    }
    .current_mps {
        grid-column: 8/18;
        grid-row: 17/18;
    }
    .kp {
        grid-column: 1/13;
        grid-row: 16/17;
    }
    .kps {
        grid-column: 2/12;
        grid-row: 17/18;
    }
    .mp {
        grid-column: 13/25;
        grid-row: 16/17;
    }
    .mps {
        grid-column: 14/24;
        grid-row: 17/18;
    }
}

@media only screen and (min-width: 600px) {
    .t1 {
        grid-column: 1/25;
        grid-row: 1/2;
    }
    .pb1 {
        grid-column: 5/11;
        grid-row: 3/4;
    }
    /* .cpb {
        grid-column: 1/25;
        grid-row: 5/6;
    } */
    /* cpb */
    .cpb {
        margin: 1rem 0;
    }
    .cpb1 {
        grid-column: 5/11;
        /* grid-row: 4/5; */
        grid-row: 5/6;
    }
    .cpb2 {
        grid-column: 15/21;
        grid-row: 5/6;
        /* display: none; */
    }
    /* end cpb */
    .pb2,
    .old-cpb {
        grid-column: 15/21;
        grid-row: 3/4;
    }
    .aws {
        margin: 5vh 0 0 0;
        grid-column: 1/25;
        grid-row: 7/8;
    }
    .title-spons {
        grid-column: 10/16;
        grid-row: 2/3;
        aspect-ratio: 5/2;
    }
    .pb-spons-1 {
        grid-column: 5/11;
        grid-row: 4/5;
        aspect-ratio: 5/2;
    }
    /* .cpb-spons {
        grid-column: 10/16;
        grid-row: 6/7;
        aspect-ratio: 5/2;
    } */
    .pb-spons-2,
    .old-cpb-spons {
        grid-column: 15/21;
        grid-row: 4/5;
        aspect-ratio: 5/2;
    }
    /* add */
    .cpb-spons-1 {
        grid-column: 5/11;
        grid-row: 6/7;
        aspect-ratio: 5/2;
    }
    .cpb-spons-2 {
        grid-column: 15/21;
        grid-row: 6/7;
        aspect-ratio: 5/2;
    }
    /* end */
    .ep {
        grid-column: 3/9;
        grid-row: 8/9;
    }
    .eps {
        grid-column: 3/9;
        grid-row: 9/10;
        aspect-ratio: 4/1.5;
    }
    .sp {
        grid-column: 10/16;
        grid-row: 8/9;
    }
    .sps {
        grid-column: 10/16;
        grid-row: 9/10;
        aspect-ratio: 4/1.5;
    }
    .cp {
        grid-column: 17/23;
        grid-row: 8/9;
    }
    .cps {
        grid-column: 17/23;
        grid-row: 9/10;
        aspect-ratio: 4/1.5;
    }
    .cnp {
        grid-column: 3/9;
        grid-row: 10/11;
    }
    .cnps {
        grid-column: 3/9;
        grid-row: 11/12;
        aspect-ratio: 4/1.5;
    }
    .tp {
        grid-column: 10/16;
        grid-row: 10/11;
    }
    .tps {
        grid-column: 10/16;
        grid-row: 11/12;
        aspect-ratio: 4/1.5;
    }
    .codep {
        grid-column: 17/23;
        grid-row: 10/11;
    }
    .codeps {
        grid-column: 17/23;
        grid-row: 11/12;
        aspect-ratio: 4/1.5;
    }
    .kp {
        grid-column: 6/12;
        grid-row: 12/13;
    }
    .kps {
        grid-column: 6/12;
        grid-row: 13/14;
        aspect-ratio: 4/1.5;
    }
    .mp {
        grid-column: 14/20;
        grid-row: 12/13;
    }
    .current_mp {
        grid-column: 10/16;
    }
    .mps {
        grid-column: 14/20;
        grid-row: 13/14;
        aspect-ratio: 4/1.5;
    }
    .current_mps {
        grid-column: 10/16;
        grid-row: 13/14;
        aspect-ratio: 4/1.5;
    }
}